[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
jinja2 = "*"
motor = "*"
dnspython = "*"
toml = "*"
sanic_limiter = "*"

[dev-packages]
sphinx = "*"
flake8 = "*"
pyngrok = "*"

[requires]
python_version = "3.8"
